<div class="newpost container">
  <%= form_for(:comment, url: post_comments_path(@post, @comment)) do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.text_field :body, placeholder: "What are your thoughts about this post, #{current_user.name}?", class: "form-control col-md-8" %>
  <%= f.submit "Post", class: "btn btn-primary col-md-2" %>
<% end %>
</div>