<div class="container">
  <% if @users.empty? %>
    <h3>No Users to display!</h3>
  <% else %>
      <% @users.each do |user| %>
        <div class="user container">
          <div class="row userbar">
            <div class="col-6 my-auto name"> <%= link_to "#{user.name} #{user.l_name}".html_safe , user_path(user), class: "btn btn-success" %></div>
            <% if user.birthday %>
              <div class="col my-auto"><%= user.birthday.strftime("Date of birth: %d/%m/%Y") %></div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-8 add-user-name">
              <%= link_to user.name, user_path(user) %>
            </div>
            <div class="col-4 friendship-form">
              <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
