// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
.container {
    .post.container {
        border: 1px solid #dadada;
        border-radius: 10px;
        margin: 12px 5px;
        padding-bottom: 10px;
        .postbar.row {
            border-bottom: 1px solid #dadada;
            color: #000000;
            padding: 5px 5px;
            margin-bottom: 5px;
            .btn {
                padding: 0 2px;
                min-width: 60px;
                a {
                    color: #ffffff;
                }
            }
            .btn-success {
                font-weight: 700;
                width: 80%;
            }
        }
    }
    .newpost.container {
        margin: 20px 4%;
        .btn {
            margin: 0 20px;
        }
    }
}

.form-inline .form-control {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.container {
    padding-top: 12px;
}