// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    .form.container {
        border: 1px solid #dddddd;
        max-width: 300px;
        margin: 50px auto;
        padding: 15px 25px;
        text-align: center;
    }
    .user.container {
        border: 1px solid #dadada;
        border-radius: 10px;
        margin: 15px 5px;
        padding: 10px;
        .userbar.row {
            color: #000000;
            .btn {
                padding: 0 2px;
                min-width: 60px;
                a {
                    color: #ffffff;
                }
            }
            .btn-success {
                font-weight: 700;
                width: 90%;
            }
        }
    }
}